<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/styles.css">
    <link rel="stylesheet" href="../Styles/media-query.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="rows-container">

        <div class="top-row">
            <div class="emfo-logo">
                <img src="../Images/8EA4FC77-AAE6-4E5C-BA32-ED68A0827801.jpeg" alt="emfo-logo">
            </div>
        </div>

        <div class="bottom-row">
            <div class="body-image">
                <img src="../Images/human-body.png" alt="body">
            </div>
            <div class="text-presentation">
                <h2>Próximamente<br/>EMFO Web</h2>
                <p>COMPRAS VIA INSTAGRAM DM </p> 
                <h2>@emfo_designer</h2>
            </div>
        </div>

    </div>
</body>
</html>